BASE_RPC_URL=https://sepolia.base.org
CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
APEX_DOMAIN=ipns.io
IPFS_GATEWAY_ORIGIN=https://ipfs.io/ipfs
ENABLE_DNSLINK=false
DNS_RESOLVER_URL=https://cloudflare-dns.com/dns-query

# Optional branded apex/www landing page CID:
# when set, apex and www will serve /ipfs/$LANDING_CID/index.html
LANDING_CID=
